# ./out/sass/sass.sync.js ->  This is is critical and cannot be removed
node_modules
.vscode-test/
*.vsix
.history
.vscode/settings.json
.vscodeignore
CHANGELOG.md
LICENSE
logos/hero2.png
logos/logo.psd
logos/others/hero2.jpeg
out/configscreen/details.json
out/configscreen/index.js
out/configscreen/index.js.map
out/configscreen/index.less
out/configscreen/index.pug
out/extension.js
out/extension.js.map
out/lib/configscreen.js
out/lib/configscreen.js.map
out/sass/index.js
out/sass/index.js.map
out/sass/sasslib/sass.js
out/sass/sasslib/sass.node.js
out/sass/sasslib/sass.sync.js
out/sass/sasslib/versions.json
package-lock.json
package.json
push.sh
README.md
screenshots/6.gif
screenshots/settings.png
screenshots/settings_small.png
src/configscreen/index.ts
src/extension.ts
src/lib/configscreen.ts
src/sass/index.ts
src/tsconfig.json
tests/.vscode/settings.json
tests/html/error.html
tests/html/index.html
tests/html/results/error.html
tests/html/results/error.min.html
tests/html/results/index.html
tests/html/results/index.min.html
tests/jade/error.jade
tests/jade/index.jade
tests/jade/results/index.html
tests/jade/results/index.min.html
tests/js/error.js
tests/js/index.js
tests/js/results/index.dev.js
tests/js/results/index.dev.js.map
tests/js/results/index.min.js
tests/js/results/index.min.js.map
tests/less/error.less
tests/less/index.less
tests/less/index_minify.less
tests/less/mixins/ignore.less
tests/less/results/index.css
tests/less/results/index.css.map
tests/less/results/index.min.css
tests/less/results/index.min.css.map
tests/less/results/index_minify.css
tests/less/results/index_minify.css.map
tests/less/results/index_minify.min.css
tests/less/results/index_minify.min.css.map
tests/pug/error.pug
tests/pug/index.pug
tests/pug/results/index.html
tests/pug/results/index.min.html
tests/scss/error.scss
tests/scss/index.scss
tests/scss/index2.sass
tests/scss/results/index.css
tests/scss/results/index.css.map
tests/scss/results/index.min.css
tests/scss/results/index.min.css.map
tests/scss/results/index2.css
tests/scss/results/index2.css.map
tests/scss/results/index2.min.css
tests/scss/results/index2.min.css.map
tests/srcmaps/index.html
tests/srcmaps/mixins/ignore.less
tests/srcmaps/mixins/ignore2.sass
tests/srcmaps/results/script.js
tests/srcmaps/results/script.js.map
tests/srcmaps/results/script.min.js
tests/srcmaps/results/script.min.js.map
tests/srcmaps/results/style.css
tests/srcmaps/results/style.css.map
tests/srcmaps/results/style.min.css
tests/srcmaps/results/style.min.css.map
tests/srcmaps/results/style2.css
tests/srcmaps/results/style2.css.map
tests/srcmaps/results/style2.min.css
tests/srcmaps/results/style2.min.css.map
tests/srcmaps/script.ts
tests/srcmaps/style.less
tests/srcmaps/style2.sass
tests/ts/error.js
tests/ts/index.js
tests/ts/results/index.dev.js
tests/ts/results/index.dev.js.map
tests/ts/results/index.min.js
tests/ts/results/index.min.js.map
tests/tsx/error.tsx
tests/tsx/index.tsx
tests/tsx/results/error.js
tests/tsx/results/error.js.map
tests/tsx/results/error.min.js
tests/tsx/results/error.min.js.map
tests/tsx/results/index.js
tests/tsx/results/index.js.map
tests/tsx/results/index.min.js
tests/tsx/results/index.min.js.map
tsconfig.json
vscode-extension/src/auto/auto.js
vscode-extension/tsconfig.json
.vscode/settings.json
CHANGELOG.md
LICENSE
logos/hero2.png
logos/others/hero2.jpeg
out/extension.js
out/extension.js.map
out/sass/index.js
out/sass/index.js.map
package.json
README.md
screenshots/6.gif
src/extension.ts
src/sass/index.ts
tsconfig.json
